<a href="https://colab.research.google.com/github/caiovinicius76/google-colab/blob/main/Notebooks/Tarefas/Tarefa_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

---
## Tarefa 3.4 - Análise Exploratória e Estatística Descritiva - Medidas estatísticas utilizando Pyhton

Esta tarefa consiste analisar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias.

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo).

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone https://github.com/malegopc/DSBD
import pandas as pd

Cloning into 'DSBD'...
remote: Enumerating objects: 739, done.
remote: Counting objects: 100% (282/282), done.
remote: Compressing objects: 100% (167/167), done.
remote: Total 739 (delta 147), reused 218 (delta 111), pack-reused 457 (from 1)
Receiving objects: 100% (739/739), 14.80 MiB | 13.21 MiB/s, done.
Resolving deltas: 100% (355/355), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [2]:
df = pd.read_csv('/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv')

print("Primeiras 5 linhas:")
print(df.head())

print("\nÚltimas 5 linhas:")
print(df.tail())

Primeiras 5 linhas:
   wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
0           5.10      0              8              21   35       1     1
1           4.95      0              9              42   57       1     1
2           6.67      0             12               1   19       0     0
3           4.00      0             12               4   22       0     0
4           7.50      0             12              17   35       0     1

   south  manufacturing  construction
0      0              1             0
1      0              1             0
2      0              1             0
3      0              0             0
4      0              0             0

Últimas 5 linhas:
     wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
529          11.36      0             18               5   29       0     0
530           6.10      0             12              33   51       1     1
531          23.25      1             17              25   48       1     1
532          19.88      1             12              13   31       0     1
533          15.38      0             16              33   55       0     1

     south  manufacturing  construction
529      0              0             0
530      0              0             0
531      0              0             0
532      1              0             0
533      0              1             0

#### c-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [3]:
print(df.describe())

       wage_per_hour       union  education_yrs  experience_yrs         age  \
count     534.000000  534.000000     534.000000      534.000000  534.000000
mean        9.024064    0.179775      13.018727       17.822097   36.833333
std         5.139097    0.384360       2.615373       12.379710   11.726573
min         1.000000    0.000000       2.000000        0.000000   18.000000
25%         5.250000    0.000000      12.000000        8.000000   28.000000
50%         7.780000    0.000000      12.000000       15.000000   35.000000
75%        11.250000    0.000000      15.000000       26.000000   44.000000
max        44.500000    1.000000      18.000000       55.000000   64.000000

           female        marr       south  manufacturing  construction
count  534.000000  534.000000  534.000000     534.000000    534.000000
mean     0.458801    0.655431    0.292135       0.185393      0.044944
std      0.498767    0.475673    0.455170       0.388981      0.207375
min      0.000000    0.000000    0.000000       0.000000      0.000000
25%      0.000000    0.000000    0.000000       0.000000      0.000000
50%      0.000000    1.000000    0.000000       0.000000      0.000000
75%      1.000000    1.000000    1.000000       0.000000      0.000000
max      1.000000    1.000000    1.000000       1.000000      1.000000

#### d-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [4]:
female_proportion = df['female'].mean()
male_proportion = 1 - female_proportion

print(f"Proporção de funcionários do sexo feminino: {female_proportion:.2f}")
print(f"Proporção de funcionários do sexo masculino: {male_proportion:.2f}")

Proporção de funcionários do sexo feminino: 0.46
Proporção de funcionários do sexo masculino: 0.54

#### e-) Calcule a proporção de casados e solteiros.

In [5]:
married_proportion = df['marr'].mean()
single_proportion = 1 - married_proportion

print(f"Proporção de funcionários casados: {married_proportion:.2f}")
print(f"Proporção de funcionários solteiros: {single_proportion:.2f}")

Proporção de funcionários casados: 0.66
Proporção de funcionários solteiros: 0.34

#### f-) Calcule as médias de cada uma das variáveis: anos de educação, anos de experiência e idade

In [6]:
mean_education_yrs = df['education_yrs'].mean()
mean_experience_yrs = df['experience_yrs'].mean()
mean_age = df['age'].mean()

print(f"Média de anos de educação: {mean_education_yrs:.2f}")
print(f"Média de anos de experiência: {mean_experience_yrs:.2f}")
print(f"Média de idade: {mean_age:.2f}")

Média de anos de educação: 13.02
Média de anos de experiência: 17.82
Média de idade: 36.83

#### g-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [7]:
median_education_yrs = df['education_yrs'].median()
median_experience_yrs = df['experience_yrs'].median()
median_age = df['age'].median()

print(f"Mediana de anos de educação: {median_education_yrs:.2f}")
print(f"Mediana de anos de experiência: {median_experience_yrs:.2f}")
print(f"Mediana de idade: {median_age:.2f}")

Mediana de anos de educação: 12.00
Mediana de anos de experiência: 15.00
Mediana de idade: 35.00

####h-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [8]:
mode_education_yrs = df['education_yrs'].mode()[0]
mode_experience_yrs = df['experience_yrs'].mode()[0]
mode_age = df['age'].mode()[0]

print(f"Moda de anos de educação: {mode_education_yrs}")
print(f"Moda de anos de experiência: {mode_experience_yrs}")
print(f"Moda de idade: {mode_age}")

Moda de anos de educação: 12
Moda de anos de experiência: 14
Moda de idade: 32

####i-) Analisando especificamente a variável **idade**, responda: qual é a idade do conjunto de dados em que **70%** dos funcionários apresentam idade inferior?

In [9]:
idade_70_porcento = df['age'].quantile(0.70)
print(f"A idade em que 70% dos funcionários apresentam idade inferior é: {idade_70_porcento:.2f}")

A idade em que 70% dos funcionários apresentam idade inferior é: 42.00

####j-) Analisando especificamente a variável **anos de experiência**, responda: qual é a quantidade de anos de experiência no conjunto de dados em que 10% dos funcionários ainda não possuem?

In [10]:
anos_experiencia_10_porcento = df['experience_yrs'].quantile(0.10)
print(f"A quantidade de anos de experiência em que 10% dos funcionários ainda não possuem é: {anos_experiencia_10_porcento:.2f}")

A quantidade de anos de experiência em que 10% dos funcionários ainda não possuem é: 3.00

####k-) Calcule o desvio-padrão de cada um dos atributos: anos de educação, anos de experiência e idade.

In [11]:
std_education_yrs = df['education_yrs'].std()
std_experience_yrs = df['experience_yrs'].std()
std_age = df['age'].std()

print(f"Desvio padrão de anos de educação: {std_education_yrs:.2f}")
print(f"Desvio padrão de anos de experiência: {std_experience_yrs:.2f}")
print(f"Desvio padrão de idade: {std_age:.2f}")

Desvio padrão de anos de educação: 2.62
Desvio padrão de anos de experiência: 12.38
Desvio padrão de idade: 11.73

####l-) Determine qual dos três atributos apresenta maior variabilidade: anos de educação, anos de experiência ou idade? Justifique a sua resposta.

In [12]:
print(f"Desvio padrão de anos de educação: {std_education_yrs:.2f}")
print(f"Desvio padrão de anos de experiência: {std_experience_yrs:.2f}")
print(f"Desvio padrão de idade: {std_age:.2f}")
print(f"a maior variabilidade esta em experiencia, pois ela possui o maior numero sendo 12.38")

Desvio padrão de anos de educação: 2.62
Desvio padrão de anos de experiência: 12.38
Desvio padrão de idade: 11.73
a maior variabilidade esta em experiencia, pois ela possui o maior numero sendo 12.38

####m-) Leia o conjunto de dados [Atlas_Brasil_2014.csv](https://github.com/malegopc/DSBD/blob/main/Datasets/Atlas/Atlas_Brasil_2014.csv)

In [13]:
df = pd.read_csv('/content/DSBD/Datasets/Atlas/Atlas_Brasil_2014.csv')

n-) Calcule a média do IDHM.

In [14]:
mean_idhm = df['IDHM'].mean()
print(f"A média do IDHM é: {mean_idhm:.2f}")

A média do IDHM é: 0.74

o-) Qual é a taxa de mortalidade em que 50% dos estados apresentam taxa inferior?

In [19]:
taxa_mortalidade_50_porcento = df['MORT1'].quantile(0.50)
print(f"A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: {taxa_mortalidade_50_porcento:.2f}")

A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: 16.86

p-) Calcule qual o valor de RDPC (renda per capita) em que 25% dos estados apresentam valor superior.

In [17]:
rdpc_75_porcento = df['RDPC'].quantile(0.75)
print(f"O valor de RDPC em que 25% dos estados apresentam valor superior é: {rdpc_75_porcento:.2f}")

O valor de RDPC em que 25% dos estados apresentam valor superior é: 885.16

q-) Determine dentre as duas variáveis: T_ANALF25M (Taxa de analfabetismo - 25 anos ou mais) ou RDPC (Renda per capita média), qual apresenta maior variabilidade. Justifique a sua resposta.

In [18]:
std_t_analf25m = df['T_ANALF25M'].std()
std_rdpc = df['RDPC'].std()

print(f"Desvio padrão de T_ANALF25M: {std_t_analf25m:.2f}")
print(f"Desvio padrão de RDPC: {std_rdpc:.2f}")

if std_t_analf25m > std_rdpc:
  print("A variável T_ANALF25M apresenta maior variabilidade.")
else:
  print("A variável RDPC apresenta maior variabilidade.")
  #a varialvel RDPC e possui uma variabilidade maior pois o desvio e maior.

Desvio padrão de T_ANALF25M: 7.65
Desvio padrão de RDPC: 268.68
A variável RDPC apresenta maior variabilidade.