<a href="https://colab.research.google.com/github/caiovinicius76/google-colab/blob/main/tarefa%205.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd

!git clone https://github.com/malegopc/DSBD

dataset = pd.read_csv("/content/DSBD/Datasets/Churn/Churn_Modelling_2.csv")

fatal: destination path 'DSBD' already exists and is not an empty directory.

In [69]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1.0,1,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1.0,0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3.0,1,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2.0,0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1.0,1,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2.0,1,0.0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1.0,1,1.0,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1.0,0,1.0,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2.0,1,0.0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1.0,1,0.0,38190.78,0

In [70]:
dataset.dropna(subset=['IsActiveMember'], inplace=True)

print(dataset.head())
print(dataset.isnull().sum())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00            1.0          1             1.0
1       1   83807.86            1.0          0             1.0
2       8  159660.80            3.0          1             0.0
3       1       0.00            2.0          0             0.0
4       2  125510.82            1.0          1             1.0

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts      10
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

In [71]:
media_num_of_products = dataset['NumOfProducts'].mean()

dataset.fillna({'NumOfProducts': media_num_of_products}, inplace=True)

print(dataset.isnull().sum())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [72]:
 dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1 , inplace = True)
 dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1.0,1,1.0,101348.88,1
1,608,Spain,Female,41,1,83807.86,1.0,0,1.0,112542.58,0
2,502,France,Female,42,8,159660.80,3.0,1,0.0,113931.57,1
3,699,France,Female,39,1,0.00,2.0,0,0.0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1.0,1,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2.0,1,0.0,96270.64,0
9996,516,France,Male,35,10,57369.61,1.0,1,1.0,101699.77,0
9997,709,France,Female,36,7,0.00,1.0,0,1.0,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2.0,1,0.0,92888.52,1
9999,792,France,Female,28,4,130142.79,1.0,1,0.0,38190.78,0

In [73]:
y = dataset["Exited"].values
y

array([1, 0, 1, ..., 1, 1, 0])

In [74]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])

print(dataset.head())

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France       0   42       2       0.00            1.0
1          608     Spain       0   41       1   83807.86            1.0
2          502    France       0   42       8  159660.80            3.0
3          699    France       0   39       1       0.00            2.0
4          850     Spain       0   43       2  125510.82            1.0

   HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          1             1.0        101348.88       1
1          0             1.0        112542.58       0
2          1             0.0        113931.57       1
3          0             0.0         93826.63       0
4          1             1.0         79084.10       0

In [75]:
import pandas as pd
X = dataset.drop(['Exited'], axis = 1)

X = pd.get_dummies(X, columns=['Geography'], drop_first=True)

print(X.head())

   CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0          619       0   42       2       0.00            1.0          1
1          608       0   41       1   83807.86            1.0          0
2          502       0   42       8  159660.80            3.0          1
3          699       0   39       1       0.00            2.0          0
4          850       0   43       2  125510.82            1.0          1

   IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain
0             1.0        101348.88              False            False
1             1.0        112542.58              False             True
2             0.0        113931.57              False            False
3             0.0         93826.63              False            False
4             1.0         79084.10              False             True

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [77]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)